<plugin id="org.dita-community.preprocess-extensions">
  <!-- 
    
    Extensions to the base Open Toolkit preprocessing pipeline.

    See the preprocess-extensions.xml Ant script for details
    of the extensions.
    -->
  
  
  <require plugin="org.dita-community.adjust-copy-to"/>
  
  <feature extension="dita.conductor.target.relative" file="build.xml"/>
  
</plugin>